:root {
  --primary-color: #342a25;
  --accent-color1: #eeab00;
  --accent-color2: #d85f07;
  --shadow-one:box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
}
nav {
  font-size:20px;
  padding: 20px;

}
nav li {
  display: inline;
  list-style: none;
  margin-left: 14px;
}

nav ul {
  padding:0;

}
nav a{
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  transition: all 150ms ease-in-out;

}
nav li.active a , nav a:hover {
  color: var(--accent-color2);
}


.container {
  font-family: "Space Grotesk", sans-serif;
  color: var(--primary-color);
  font-size: 23px;
  margin: 0%;
}

.hero,
.hello {
  margin: 100px 200px;
}

.label{
  color: var(--primary-color);
  font-family: "Space Grotesk", sans-serif;
  font-size: 23px;
  margin-bottom: 100px;
  border-top: 2px dashed var(--accent-color2);
}
.ilustration {
  border-radius: 242.5px;
  width: 546px;
  height: 525px;
}
.accent1 {
  color: var(--accent-color1);
  font-weight: bold;
}
.accent2 {
  color: var(--accent-color2);
  font-weight: bold;
}
.project_img{
  border-radius: 100px;
}
.info {
  margin: 173px 202px;
}
.container h1 {
  font-size: 64px;
  font-weight: bolder;
}
.col .button_one {
  color: var(--accent-color2);
  font-weight: bold;
  border: 2px solid var(--accent-color2);
  background-color: #d85f07;
}
.col .button_one:hover {
  border: 2px solid black;
  transition: all 150ms ease-in-out  ;
}
.proyects{
  margin-top: 10px;

}
.proyects h2 {
  font-size: 32px;
}

.proyects p {
  font-size: 16px;
}

footer{
  margin:60px
}
footer .email-link{
  text-decoration: none;
  color: var(--primary-color);

}
footer .email-link:hover{
  color: var(--accent-color2);
}

footer .social_link a{
  margin: 20px;
  color: white;
  line-height: 10px;
  background-color: var(--accent-color2);
  padding: 10px 14px;
  border-radius: 50%;
}
footer .social_link a:hover{
  background-color:white;
  color:var(--accent-color2);
}
@media (max-width: 900px) {

  nav a,.label{
    font-size:16px
  }
  
}